### March 27, 2019

Pandas' read_csv method can use URLs as an input for the "filepath" parameter. This lets you pass a csv hosted in a web resource as a direct input to a dataframe without having to download it. Here's an example:

In [1]:
import pandas as pd
df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/homes.csv")
df.head()

,Sell,"""List""","""Living""","""Rooms""","""Beds""","""Baths""","""Age""","""Acres""","""Taxes"""
0,142,160,28,10,5,3,60,0.28,3167
1,175,180,18,8,4,1,12,0.43,4033
2,129,132,13,6,3,1,41,0.33,1471
3,138,140,17,7,3,1,22,0.46,3204
4,232,240,25,8,4,3,5,2.05,3613

### March 28, 2019

Jupyter Notebook and IPython allow wildcard matching to find applicable properties and methods of an object:

In [5]:
import arcpy
arcpy.FeatureTo*?

### March 29, 2019

Output large numbers in a legible way:

In [6]:
n = 123123123
format(n, ",")

'123,123,123'

### April 1st, 2019

The enumerate() function adds a counter to an iterable object (for example, a list of strings). Here's an example:

In [1]:
# Make a list of items
subjects = ('I', 'love', 'the', 'University', 'of', 'Florida')

# Use a for loop and the enumerate() function to count the items in the list
for i, subject in enumerate(subjects):
    print(i, subject)

0 I
1 love
2 the
3 University
4 of
5 Florida

### April 2nd, 2019

A quick and easy way to generate Universally Unique IDs (or ‘UUIDs’) is through the Python Standard Library’s uuid module.

In [6]:
import uuid
user_id = uuid.uuid4()
print(user_id)

94ea3f9a-b77f-4d2a-98b1-e49b2db915bf

This creates a randomized 128-bit number that will almost certainly be unique.

In fact, there are over 2¹²² possible UUIDs that can be generated. That’s over five undecillion (or 5,000,000,000,000,000,000,000,000,000,000,000,000).

The probability of finding duplicates in a given set is extremely low.

### April 3rd, 2019

Reverse a string... for some reason.

In [26]:
a = "Go Gators"
a[::-1]

'srotaG oG'

Actually, this is more of a tip on the third parameter option for string slicing. Here's an example that returns every third string character:

In [28]:
b = "Florida State University stinks."
b[::3]

'Fratenei is'

### April 4th, 2019

Here's a helper function to:

- Use input spatially-enabled dataframe ("data_sdf")
- Update a webmap widget extent ("gis_map") to the extent of the spatially-enabled dataframe

provided a spatially-enabled dataframe "data_sdf", and a map-widget "gis_map", here's the code:

In [ ]:
new_extent = {'spatialReference': {'latestWkid': 3857, 'wkid': 102100},
 'xmin': data_sdf.spatial.full_extent[0],
 'ymin': data_sdf.spatial.full_extent[1],
 'xmax': data_sdf.spatial.full_extent[2],
 'ymax': data_sdf.spatial.full_extent[3]}

gis_map.extent = new_extent

### April 5th, 2019

this.

In [8]:
import this

### April 6th, 2019

@staticmethod
def from_df(df, address_column="address", geocoder=None, sr=None):
    """
    Returns a SpatialDataFrame from a dataframe with an address column.
    ====================    =========================================================
    **Argument**            **Description**
    --------------------    ---------------------------------------------------------
    df                      Required Pandas DataFrame. Source dataset
    --------------------    ---------------------------------------------------------
    address_column          Optional String. The default is "address". This is the
                            name of a column in the specified dataframe that contains
                            addresses (as strings). The addresses are batch geocoded
                            using the GIS's first configured geocoder and their
                            locations used as the geometry of the spatial dataframe.
                            Ignored if the 'geometry' parameter is also specified.
    --------------------    ---------------------------------------------------------
    geocoder                Optional Geocoder. The geocoder to be used. If not
                            specified, the active GIS's first geocoder is used.
    --------------------    ---------------------------------------------------------
    sr                      Optional integer. The WKID of the spatial reference.
    ====================    =========================================================
    :returns: DataFrame

@staticmethod
def from_xy(df, x_column, y_column, sr=4326):
    """
    Converts a Pandas DataFrame into a Spatial DataFrame by providing the X/Y columns.
    ====================    =========================================================
    **Argument**            **Description**
    --------------------    ---------------------------------------------------------
    df                      Required Pandas DataFrame. Source dataset
    --------------------    ---------------------------------------------------------
    x_column                Required string.  The name of the X-coordinate series
    --------------------    ---------------------------------------------------------
    y_column                Required string.  The name of the Y-coordinate series
    --------------------    ---------------------------------------------------------
    sr                      Optional int.  The wkid number of the spatial reference.
                            4326 is the default value.
    ====================    =========================================================
    :returns: DataFrame
    """
    from ._io.fileops import _from_xy
    return _from_xy(df=df, x_column=x_column,
                    y_column=y_column, sr=sr)

@staticmethod
def from_layer(layer):
    """
    Imports a FeatureLayer to a Spatially Enabled DataFrame
    This operation converts a FeatureLayer or TableLayer to a Pandas' DataFrame
    ====================    =========================================================
    **Argument**            **Description**
    --------------------    ---------------------------------------------------------
    layer                   Required FeatureLayer or TableLayer. The service to convert
                            to a Spatially enabled DataFrame.
    ====================    =========================================================
    Usage:
    >>> from arcgis.features import FeatureLayer
    >>> mylayer = FeatureLayer(("https://sampleserver6.arcgisonline.com/arcgis/rest"
                        "/services/CommercialDamageAssessment/FeatureServer/0"))
    >>> df = from_layer(mylayer)
    >>> print(df.head())
    :returns: Pandas' `DataFrame`
    """

@staticmethod
def from_featureclass(location, **kwargs):
    """
    Returns a Spatially enbaled `pandas.DataFrame` from a feature class.
    ====================    =========================================================
    **Argument**            **Description**
    --------------------    ---------------------------------------------------------
    location                Required String. The full qualified path to the feature
                            class.
    ====================    =========================================================
    :returns: Pandas' `DataFrame`
    """
    return from_featureclass(filename=location, **kwargs)

@staticmethod
def from_table(filename, **kwargs):
    """
        Allows a user to read from a non-spatial table
        **Note: ArcPy is Required for this method**
        ===============     ====================================================
        **Argument**        **Description**
        ---------------     ----------------------------------------------------
        filename            Required string. The path to the table.
        ===============     ====================================================
        **Keyword Arguments**
        ===============     ====================================================
        **Argument**        **Description**
        ---------------     ----------------------------------------------------
        fields              Optional List/Tuple. A list (or tuple) of field
                            names. For a single field, you can use a string
                            instead of a list of strings.
                            Use an asterisk (*) instead of a list of fields if
                            you want to access all fields from the input table
                            (raster and BLOB fields are excluded). However, for
                            faster performance and reliable field order, it is
                            recommended that the list of fields be narrowed to
                            only those that are actually needed.
                            Geometry, raster, and BLOB fields are not supported.
        ---------------     ----------------------------------------------------
        where               Optional String. An optional expression that limits
                            the records returned.
        ---------------     ----------------------------------------------------
        skip_nulls          Optional Boolean. This controls whether records
                            using nulls are skipped.
        ---------------     ----------------------------------------------------
        null_value          Optional String/Integer/Float. Replaces null values
                            from the input with a new value.
        ===============     ====================================================
        :returns: pd.DataFrame
    """

### April 10, 2019

https://realpython.com/python-f-strings/

In [4]:
answer = "To become a graduated symbol"

f"Why did the dot go to college? {answer}"

'Why did the dot go to college? To become a graduated symbol'

### Misc - Bugs

Translate to spanish helper function:

In [11]:
def translate_to_spanish(english_input):
    
    from googletrans import Translator
    
    translator = Translator()
    if english_input != "NaN" and english_input != "None":
        output = translator.translate(str(english_input), dest='es')
        return(output.text)
    else:
        return None